/*Variables */
:root{
  --max-width: 1230px;
  --black: #000000;
  --white: #ffffff;
  --cream: #FFF6D1;
  --font-stack: system-ui, sans-serif;
  --font-size: 1.125rem;
  --regular: 400;
  --bold: 900;
  --border: 2px solid var(--black);
  --shading: repeating-linear-gradient(45deg, white, white 2px, black 1px, black 3px);
  --bodybg: #f3f2f7;
  --primarycolor: #fefefe;
  --secondarycolor: #3498db;
  --tertiarycolor:  #2c3e50;
  --primaryoff:  #dcdde1;
  --colortext: #464646;
  --colorblackshade1: #1A1A1A;
  --colorblackshade2: #454545;
  --colorblackshade3: #242121;
  --colorgray: #a3a3a3;
  --colorgreen: #31db83;
  --colorgreenshade1: #0dedbb;
  --colorgreenoff: #EBFFE5;
  --coloryellow: #ffd825;
  --coloryellowoff: #FFF9E5;
  --colordarkgray: #636363;
  --colordarkgray1: #979797;
  --colordarkgray2: #757575;
  --colordarkgray3: #909090;
  --colormidgray: #D5D5D5;
  --colorlightgray: #E7E7E7;
  --colororange: #FAA723;
  --colororangeoff: #FFF9E5;
  --colorblue: #0dceed;
  --colorblueshade1: #ebfaff;
  --colorred: #eb062c;
  --colorredshade1: #ffeaf3;
  --colorpink: #F85A78;
  --colorredoff: #FFE5E5;
  --colorvoilet: #8F59FF;
  --colorpurple: #965AF8;
  --bordercolor: #F5F7F9;
  --bordercard: #E8ECF1;
  --circleorange: #e7a243;
  --colororangeshade1: #ffeed0;
  --colororangeshade2: #fff2e9;
  --circleblue: #6C96FF;
  --circlegreen: #6CFF84;
  --circlegray: #E3DFDD;
  --circlecyan: #66DCE0;
  --circleflugreen: #9EF266;
  --colorblueprimary: #37BCC7;
  --colorblueprimaryoff: #E5FDFF;
  --colornavbg: #383838;
  --colornavbgactive: #1e1e1e;
  --colorheaderborder: #898989;
  --borderpurple: #9D33FF;
  --sectionpaddinglarge: 150px;
  --sectionpaddinglargemedium: 120px;
  --sectionpadding: 90px;
  --sectionpaddingmedium: 60px;
  --sectionpaddingsmall: 30px;
  --h2font: 30px;
  --h3font: 24px;
  --h4font: 22px;
  --normalfont: 16px;
  --smallfont: 14px;
  --xsmallfont: 12px;
  --xxsmallfont: 10px;
  --h1public: 65px;
  --h2public: 48px;
  --h3public: 36px;
  --h4public: 24px;
  --h5public: 20px;
  --border-radius-xs: 5px;
  }